<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>520298130357-jb699cgh97omrljrtr7kj8v3pvmolhac.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.520298130357-jb699cgh97omrljrtr7kj8v3pvmolhac</string>
	<key>API_KEY</key>
	<string>AIzaSyCW4YwqJiRF0hqLNw3L7D4_s6nZzIaMCUA</string>
	<key>GCM_SENDER_ID</key>
	<string>520298130357</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vpathman.ConcertClips</string>
	<key>PROJECT_ID</key>
	<string>concertclips-7116e</string>
	<key>STORAGE_BUCKET</key>
	<string>concertclips-7116e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:520298130357:ios:1adfdf0fa8de1091f2c7fc</string>
</dict>
</plist>